/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.99px) {
    .clients .owl-prev{
        left: 0;
    }
    .clients .owl-next{
        right: 0;
    }
    
    
.top_inner {
    display: block;
    overflow: hidden;
}
.top_left, .top_right {
    display: block;
    padding: 0;
}
.top_left select {
    display: flex;
    margin: auto auto 10px;
}
.top_left p {
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin-bottom: 10px;
}
.top_right {
    margin-top: 30px;
}
.top_right div {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
.social_icons_top ul {
    padding: 0;
}
.social_icons_top ul li i {
    font-size: 24px;
}
.navbar_wrapper .navbar-nav li {
    display: flex;
    margin: auto auto 10px;
    padding: 5px 0;
}
.menu_right_side {
    display: block;
}
.cart {
    display: flex;
    justify-content: center;
}
.slide_table_cell h1 {
    font-size: 24px;
}
.slide_table_cell p {
    font-size: 15px;
}
.exe_btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px;
}
.btn_slider_bordered {
    margin: 0;
}
.services_header p {
    font-size: 16px;
    margin-top: 10px;
}
.portfolio_nav > ul {
    display: block;
}
.portfolio_nav ul li {
    display: flex;
    justify-content: center;
    margin: 0 0 10px;
}
.portfolio_single {
    width: 100%;
}
.skil_item {
    margin-bottom: 30px;
}
.single_accordion span {
    margin: 0;
    padding-right: 43px;
}
.single_blog_post {
    margin-bottom: 20px;
}
.theme_opt_img {
    margin-bottom: 30px;
}
.theme_opt_content > p {
    font-size: 12px;
}
.theme_opt_content {
    margin-left: 10px;
}
.widget_single {
    margin-bottom: 20px;
}
.footer_bottom_area ul {
    flex-wrap: wrap;
    float: none;
    margin-top: 10px;
    padding: 0;
}
    .blog_posts_area,
    .theme_options,
    .contact_widget .widget_content{
        overflow: hidden
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.99px) {
        
.top_inner {
    display: unset;
}
.top_left {
    margin-bottom: 30px;
    padding: 0;
}
.top_right {
    padding: 0;
}    .navbar_wrapper ul li a {
    justify-content: center;
    margin: 5px 0;
    padding: 15px 0;
}
    
.cart {
    justify-content: center;
}
.menu_right_side {
    display: unset;
}
.searchbox {
    float: left;
}
.searchbox-input {
    left: 0;
    text-align: center;
}.slide_table_cell h1 {
    font-size: 34px;
}
.slide_table_cell p {
    font-size: 16px;
}
    .services_header h2{
        font-size: 25px;
    }
    .services_header p{
        font-size: 18px;
        margin-top: 20px;
    }
    .portfolio_single{
        width: 50%;
    }
    .skil_item{
        margin-bottom: 30px;
    }
    .testimonials_all{
        margin-top: 30px;
    }
    .testimonials_all .owl-dots{
        justify-content: center;
    }
    .single_blog_post{
        margin-bottom: 30px;
    }
    
.single_theme_option {
    margin-top: 30px;
}
.theme_opt_icon {
    flex-basis: unset;
}
    .single_theme_option:hover .theme_opt_icon{
        flex-basis: unset;
    }
    .clients .owl-prev{
        left: -30px;
    }
    .clients .owl-next{
        right: -30px;
    }
    
.footer_bottom_area ul {
    display: flex;
    float: none;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
}

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.99px) {
    
.top_inner {
    display: unset;
}
.top_left {
    margin-bottom: 30px;
    padding: 0;
}
.top_right {
    padding: 0;
}
.slide_table_cell h1 {
    font-size: 42px;
}
.slide_table_cell p {
    font-size: 18px;
}
    .navbar_wrapper ul li a {
    justify-content: center;
    margin: 5px 0;
    padding: 15px 0;
}
    
.cart {
    justify-content: center;
}
.menu_right_side {
    display: unset;
}
.searchbox {
    float: left;
}
.searchbox-input {
    left: 0;
    text-align: center;
}
.portfolio_single {
    width: 33.3333%;
}

.single_accordion span {
    margin: 0;
    padding-right: 45px;
    text-align: left;
}
.single_accordion i.fa-angle-right {
    display: flex;
    height: 100%;
    justify-content: center;
    line-height: 5;
    margin: auto;
}



}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.99px) {
    
.social_icons_top ul {
    padding-left: 0;
}
.top_right {
    padding-left: 40px;
}
.top_left {
    padding-right: 40px;
}
.slide_table_cell h1 {
    font-size: 58px;
}
.slide_table_cell p {
    font-size: 22px;
}
.portfolio_nav ul li {
    margin: 0 5px;
}
.portfolio_single_info h4 {
    padding-left: 0;
    text-align: center;
}
.portfolio_tags {
    display: flex;
    justify-content: center;
    margin-left: 0;
    text-align: center;
}

.navbar_wrapper {
	display: flex;
	justify-content: space-between;
}

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
.navbar_wrapper {
	display: flex;
	justify-content: space-between;
}

}