
img {
	max-width: 100%;
	height: auto;
}
a:hover {
	text-decoration: none;
	color: inherit;
}

body {

	font-family: 'roboto';
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'raleway';
    font-weight: 700;
}
.section_padding{
    padding: 80px 0;
}



.searchbox {
	position: relative;
	min-width: 50px;
	height: 50px;
	float: right;
}

.searchbox-input {
	top: 0;
	right: 0;
	border: 0;
	outline: 0;
	width: 0%;
	height: 50px;
	margin: 0;
	font-size: 20px;
	color: #536D87;
	position: absolute;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	-ms-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width 0.3s;
	box-shadow: none;
}

.searchbox-input::-webkit-input-placeholder {
	color: #536D87;
}

.searchbox-input:-moz-placeholder {
	color: #536D87;
}

.searchbox-input::-moz-placeholder {
	color: #536D87;
}

.searchbox-input:-ms-input-placeholder {
	color: #536D87;
}

.searchbox-icon,
.searchbox-submit {
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	top: 0;
	font-family: verdana;
	font-size: 22px;
	right: 0;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	background: unset;
	color: #536D87;
}

.searchbox-open .searchbox-input {
	width: 600%;
	padding: 0 10px;
	border: 1px solid #536D87;
	border-radius: 3px;
}






.top_area {
	background-color: #363636;
}

.services_header {
	background-color: #363636;
	padding: 40px 0 60px;
	position: relative;
}
.services_header::after {
  background-color: #fafafa;
  bottom: -15px;
  content: "";
  height: 30px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  transform: rotate(45deg);
  width: 30px;
}
.services_items {
	background-color: #fafafa;
}

.our_quality {
	background-color: #fafafa;
}

.theme_options {
	background-color: #f3f3f3;
}

.clients_area {
	background-color: #dd4132;
}

.footer_widget_area {
	background-color: #252525;
}

.footer_bottom_area {
	background-color: #111111;
}



.top_area p {
	display: inline-block;
}

.top_inner {
	display: flex;
}

.top_left {
	flex: 1 1 0;
}

.top_right {
	flex: 1 1 0;
}

.top_left select {
	display: inline-block;
}

.top_left p {
	display: inline-block;
}

.top_right div {
	display: inline-block;
}

.social_icons {}

.social_icons ul li {
	display: inline-block;
}

#main_navbar {
	display: flex;
}

#main_navbar ul {
	flex: auto;
}






.top_area {
	color: #898989;
	font-family: "roboto";
	font-size: 13px;
	padding: 15px 0;
}

.top_left p {
	margin: 0;
}

.wishlist p {
	margin: 0;
}

.social_icons_top ul {
	margin: 0;
}

.top_left select {
	color: #898989;
}

.top_left a {
	color: #898989;
}

.register_login a {
	color: #898989;
}

.register_login a:last-child {
	color: #8dc63f;
}

.social_icons a {
	color: #898989;
	display: inline-block;
}

.top_left {
	padding-right: 60px;
}

.top_right {
	padding-left: 60px;
}

.top_left,
.top_right {
	display: flex;
	justify-content: space-between;
}

.social_icons_top ul li i {
	font-size: 20px;
    margin-left: 5px;
}

.main_menu_area {
	font-family: "raleway";
}

.navbar {
	padding: 0;
}

.navbar-brand {
	margin: 0;
	padding: 5px;
}

.navbar-brand {
	margin-right: 70px;
}

.navbar_wrapper {
	display: flex;
	justify-content: space-between;
}

.menu_right_side {
	display: flex;
}

.navbar_wrapper ul li a {
	color: #555555;
	display: flex;
	font-size: 14px;
	font-weight: 700;
	justify-content: space-between;
	padding: 2px;
}

.navbar_wrapper .navbar-nav li {
	display: block;
	margin-left: 5px;
	margin-right: 5px;
}


.cart_link {
	display: inline-table;
	position: relative;
}

.cart_link>span {
	background-color: #e5493a;
	border-radius: 45px;
	color: #fff;
	display: inline-block;
	font-size: 10px;
	line-height: 1;
	padding: 1px 4px 3px;
	position: absolute;
	right: -2px;
	top: -2px;
}

.cart_link .fa.fa-cart-plus {
	font-size: 20px;
	left: 0;
	top: 0;
	z-index: 1;
}


.cart p {
	color: #363636;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	margin-right: 10px;
}

.cart_link {
	color: #606060;
}

.cart {
	display: flex;
	margin: auto;
}

.searchbox {
	margin-left: 20px;
}

.main_menu_area {
	padding: 40px 0;
}

.slider_area{
	height: 900px;
	font-family: 'raleway';
}
.slider_area div{
	height: 100%;
}
.single_slide_1{
	background-image: url(img/slide_bg_1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-background-position: center;
	background-position: center;
}

.slide_table {
    display: table;
}
.slide_table_cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.slide_table_cell h1 {
    color: #fff;
    font-size: 68px;
    font-weight: 900;
    margin: 0;
}
.slide_table_cell p {
    color: #fff;
    font-size: 27px;
    font-weight: 400;
    margin: 30px 0 45px;
}
.btn_black {
    background: #363636 none repeat scroll 0 0;
}
.exe_btn:hover{
	color: #fff;
}
.exe_btn {
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    padding: 22px 35px;
}
.btn_bordered {
    border: 2px solid #fff;
    padding: 20px 33px;
}
.btn_slider_bordered {
    margin-left: 30px;
}

.services_header h2 {
    color: #959595;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}
.services_header p {
    color: #707070;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}


.services_items {
    padding: 115px 0 80px;
}
.service_item {
    background: #ffffff none repeat scroll 0 0;
    padding: 65px 20px 20px;
    text-align: center;
}
.service_item{
	position: relative;
}
.service_icon {
    background: #363636 none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    font-size: 24px;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    position: absolute;
    top: -35px;
    width: 70px;
}
.service_icon i {
    line-height: 0;
    text-align: center;
    vertical-align: bottom;
}

.service_item > p {
    color: #959595;
    font-family: "roboto";
    font-size: 14px;
    font-weight: 400;
}
.service_item > h3 {
    color: #363636;
    font-family: "raleway";
    font-size: 24px;
    font-weight: 700;
}
.service_item     hr {
    background: #363636 none repeat scroll 0 0;
    border: medium none;
    height: 2px;
    width: 40%;
}

.section_header h2 {
    color: #363636;
    font-family: "raleway";
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 27px;
    text-align: center
}
.section_header p {
    color: #959595;
    font-family: "roboto";
    font-size: 14px;
    margin-bottom: 27px;
    text-align: center;
}
.section_header hr {
    background: #363636 none repeat scroll 0 0;
    border: medium none;
    height: 2px;
    width: 30%;
}


.single_postofolio_inner {
    position: relative;
}

.single_postofolio_inner img {
    height: auto;
    width: 100%;
}

.portfolio_all {
    width: 100%;
}
.portfolio_single {
    width: 25%;
    float: left;
}
.portfolio_single_info   h4 {
  color: #fff;
  font-family: raleway;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 40px 0 0 40px;
}
.portfolio_tags a:first-child::after{
    content: ",";
    right: 0;
    top: 0;
    color: #959595;
}
.portfolio_tags a {
  color: #959595;
  font-size: 14px;
  font-family: 'roboto';
    margin-right: 5px;
}
.portfolio_tags{
  margin: 10px 0 20px 40px;
  display: inline-block;
}
.portfolio_single_info > hr {
  background: #e5493a none repeat scroll 0 0;
  border: medium none;
  height: 2px;
  margin-left: 40px;
  width: 20%;
}

.links {
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 40px;
    position: absolute;
    right: 0;
}
.portfolio_all .links > a {
    background: #e5493a none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    height: 42px;
    text-align: center;
    width: 42px;
}
.portfolio_all .links a i {
    line-height: 2.5;
}

.portfolio_single_info {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.single_postofolio_inner > .portfolio_single_info {
    visibility: hidden;
    background: rgba(81, 81, 81, .2);
    transition: background .3s ease-in-out;
}
.single_postofolio_inner:hover .portfolio_single_info {
    visibility: visible;
    background: rgba(81, 81, 81, .75);
}


.portfolio_all .links > a{
    background: #323232;
}
.portfolio_all .links > a:hover{
    background: #E85B4E;
}


.portfolio_nav > ul {
  display: flex;
  justify-content: center;
  list-style: outside none none;
  margin: 40px 0;
  padding: 0;
    background: #FAFAFA;
    border-radius: 5px;
}
.portfolio_nav ul li{
    padding: 10px 10px;
    margin: 0 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border-bottom: 2px solid #FAFAFA;
}
.portfolio_nav ul li:hover{
    color: #E5493A;
    border-bottom: 2px solid #E5493A;
}
.portfolio_header.section_header.text-center > hr {
  margin-bottom: 0;
}
.load_more_m {
  margin: 40px 0 0;
}
.our_skills_area{
    background: url(img/skills_bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.skills_header H2 {
    color: #fff;
}
.skills_header p {
}
.skills_header > hr {
    background: #e5493a none repeat scroll 0 0;
}
.section_header_row{
    margin-bottom: 40px;
}

.skil_item > h3 {
    color: #e5493a;
    font-size: 24px;
    font-weight: bold;
}
.skil_item > p {
    color: #535353;
    font-family: "roboto";
    font-size: 14px;
}
.skil_item {
    text-align: center;
}
.skil_item > hr {
    background: #555555 none repeat scroll 0 0;
    border: medium none;
    height: 2px;
    width: 30%;
}

.skill_circle {
    position: relative;
}
.skill_circle > p {
    color: #fff;
    display: flex;
    font-family: "roboto";
    justify-content: center;
    left: 107px;
    line-height: 8;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 0;
}
.skill_circle {
  display: inline-block;
  margin: auto;
  position: relative;
  text-align: center;
}
.skill_circle strong {
  color: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40px;
  width: 100%;
}
.skill_circle canvas{
    transform: rotate(90deg);
}

.single_testimonial {
    background: #f2f2f2 none repeat scroll 0 0;
    border-radius: 4px;
    padding: 30px;
    position: relative;
}
.single_testimonial::after{
    position: absolute;
    top: 100%;
    left: 70%;
    content: url(img/testimonial_arrow.png);
    
    
}
.single_testimonial  h4 {
    color: #363636;
    display: inline-block;
    font-family: "raleway";
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.single_testimonial  a {
    color: #cccccc;
    display: inline-block;
    float: right;
    font-family: "roboto";
    font-size: 14px;
}
.single_testimonial  p {
    color: #959595;
    font-family: "roboto";
    font-size: 14px;
    margin: 15px 0 0;
}


.single_accordion{
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}
.single_accordion .panel-heading  .accordion-toggle{
     padding: 10px 0 10px 30px;
    background: #F2F2F2;
    border-radius: 4px;
}
.single_accordion h4 {
    color: #363636;
    display: inline-block;
    font-family: "raleway";
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.single_accordion span {
    color: #cccccc;
    display: inline-block;
    font-family: "roboto";
    font-size: 13px;
    font-weight: 400;
    margin-left: 30px;
}
.single_accordion a.accordion-toggle{
    display: block;
}
.single_accordion i {
  background: #585858 none repeat scroll 0 0;
  color: #fff;
  display: flex;
  height: 44px;
  justify-content: center;
  line-height: 2.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 43px;
    border-radius: 0 3px 3px 0 ;
}

.panel-body {
    margin: 30px;
}
.panel-body p {
    color: #959595;
    font-family: "roboto";
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

a.accordion-toggle[aria-expanded="true"]{
    background: #363636 !important;
}
a.accordion-toggle[aria-expanded="true"] h4{
    color: #fff;
    
}
a.accordion-toggle[aria-expanded="true"] span{
    color: #636363;
    
}
a.accordion-toggle[aria-expanded="true"] i{
    background: #E5493A;
    
}

/**/
div.owl-nav{
    height: unset;
}

.slider_area .owl-nav i:hover{
    background: rgba(216, 91, 79, .7);
}
.slider_area .owl-nav i {
    background: #363636 none repeat scroll 0 0;
    color: #fff;
    display: inline-flex;
    font-size: 30px;
    height: 50px;
    justify-content: center;
    line-height: 1.5;
    position: absolute;
    top: 50%;
    width: 50px;
    margin-top: -25px;
    transition: .3s all;
}
.slider_area .owl-nav div {
    display: inline-block;
}
.slide_all {
    position: relative;
}
.slide_all .owl-next i {
    right: 0;
}

.slide_all .owl-prev i {
    border-radius: 0 3px 3px 0;
}
.slide_all .owl-next i {
    border-radius: 3px 0 0 3px;
}

/**/

.testimonials_all .owl-dot {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 10px;
    display: inline-block;
    height: 15px;
    width: 15px;
}
.testimonials_all .owl-dots {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

.owl-carousel .owl-item img{
    display: unset !important;
    width: unset !important;
}
.single_testimonial {
  margin-bottom: 50px;
}

.single_testimonial img {
    border-radius: 50%;
    height: 80px;
    width: 20px;
}
.single_testimonial  p {
}
.single_testimonial  h4 {
}


.testimonials_all .owl-dot {
    margin-right: 10px;
}
.testimonials_all .owl-dot.active {
    background: #e5493a none repeat scroll 0 0;
}


.single_blog_post {
    display: flex;
}
.blog_thumb {
    display: inline-flex;
    position: relative;
    flex: .75;
}
.thumb_icon {
    position: absolute;
    top: 0;
}
.blog_thumb_info {
    left: 50%;
    position: absolute;
    top: 50%;
    margin-left: -44px;
    margin-top: -23px;
}
.blog_desc {
    background: #fafafa none repeat scroll 0 0;
    padding: 30px;
    flex: 1
}
.date_comment a {
    color: #cccccc;
    font-family: "roboto";
    font-size: 14px;
}
.date_comment a:first-child::after {
    content: "/";
    cursor: auto;
    z-index: -5;
}
.single_blog_post:hover .blog_desc h3 a{
    color: #e5493a;    
}
.blog_desc h3 a {
    color: #363636;
    font-family: "raleway";
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    transition: all .2s ease-in-out;
}
.blog_desc h3 {
    line-height: 1;
}
.blog_desc p {
    color: #959595;
    font-family: "roboto";
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}
.single_blog_post:hover .blog_read_more{
    color: #e5493a;
}
.blog_read_more {
    display: block;
    font-family: "roboto";
    margin-top: 30px;
    padding-bottom: 30px;
    position: relative;
    text-transform: uppercase;
    color: #363636;
    transition: all .2s ease-in-out;
}
.blog_read_more::after {
    background: #363636 none repeat scroll 0 0;
    bottom: 0;
    content: " ";
    height: 2px;
    left: 0;
    position: absolute;
    width: 33.33%;
    transition: all .2s ease-in; 
}
.single_blog_post:hover .blog_read_more::after{
    width: 100%;
    background: #E65142;
}
.blog_desc{
    padding-bottom: 0;
}

.thumb_icon {
    background: #363636 none repeat scroll 0 0;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
    transition: background .2s ease-in-out;
}
.thumb_icon i {
    align-self: center;
    color: #ffffff;
}

.single_blog_post:hover .blog_thumb div{
    z-index: 2
}
.single_blog_post:hover .blog_thumb::after {
    background: #47403A none repeat scroll 0 0;
    content: " ";
    height: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}


.blog_thumb_info a {
    background: #252525 none repeat scroll 0 0;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    width: 40px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}
.blog_thumb_info a i {
    align-self: center;
    color: #fff;
}

.single_blog_post:hover .blog_thumb .thumb_icon,
.single_blog_post:hover .blog_thumb a{
    background: #E5493a;
    cursor: pointer;
    transition: all .2s;
}




.theme_options{
    background-image: url(img/theme_opt_bg.jpg);
}
.theme_order_last {
  order: 1;
    margin: auto;
}

.single_theme_option {
    display: flex;
}
.theme_opt_icon p{
    margin: 0;
}
.theme_opt_icon {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 35px;
  border-radius: 50%;
    flex-basis: 25%;
    background: #FAFAFA;
    border: 2px solid #FAFAFA;
    transition: all .3s ease;
    
    
}


.theme_opt_content {
  flex-basis: 65%;
  margin: auto;
}
.theme_opt_icon i {
    color: #363636;
    
    font-size: 24px;
    transition: all .1s ease;
}

.theme_opt_content > h4 {
    color: #363636;
    font-family: "raleway";
    font-size: 20px;
    font-weight: 700;
    transition: all .1s ease;
}
.theme_opt_content > p {
    color: #959595;
    font-family: "roboto";
    font-size: 14px;
    margin: 0;
    transition: all .1s ease;
}


.single_theme_option:hover .theme_opt_icon {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 35px;
  border: 2px solid #e5493a;
  border-radius: 50%;
    flex-basis: 20%;
    
    background: none;
}
.single_theme_option:hover .theme_opt_icon i {
    color: #E5493A;
}

.single_theme_option:hover .theme_opt_content h4{
    color: #E5493A;
}
.single_theme_option:hover .theme_opt_content p{
    color: #363636;
}
.single_theme_option{
    margin-bottom: 30px;
}
.single_theme_option:last-child{
    margin-bottom: 0;
}

.clients {
    position: relative;
}
.clients .owl-prev {
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0;
}
.clients .owl-next {
    left: 0;
}
.clients {
    position: relative;
}
.clients .owl-prev {
    left: -50px;
    line-height: 1;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #363636;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    margin-top: -15px;
    top: 50%;
}
.clients .owl-next {
    line-height: 1;
    position: absolute;
    right: -50px;
    left: auto;
    background: #363636;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    margin-top: -15px;
    top: 50%;
}
.clients .owl-prev i{
    font-size: 20px;
    color: #fff;
    margin: auto;
}
.clients .owl-next i{
    font-size: 20px;
    color: #fff;
    margin: auto;
}
.clients_area{
    background-image: url(img/client_carousel_bg.png);
}
.client {
  display: flex;
  justify-content: center;
}



.widget_single{
    font-size: 14px;
}



.about_widget p {
    color: #636363;
    font-family: roboto;
    font-size: 14px;
    margin: 0;
}
.about_widget > p {
  margin-bottom: 40px;
}
.about_widget a {
    color: #e5493a;
    display: block;
    margin-top: 10px;
}
.about_widget form {
    color: #fff;
    font-family: "roboto";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.about_widget input {
    background: #171717 none repeat scroll 0 0;
    border: medium none;
    color: #464646;
    padding: 10px 40px 10px 10px;
    position: relative;
    width: 100%;
}
.about_widget a.privacy_policy{
    color: #464646;
    font-size: 13px;
}


.input_label{
    margin: 0 !important;
    position: relative;
}
.input_label::after {
  content: "";
  font-family: "FontAwesome";
  font-size: 20px;
  left: auto;
  line-height: 0;
  position: absolute;
  right: 10px;
  top: 50%;
}
.widget_head{
    margin-bottom: 60px;
    color: #fff;
}
.widget_head > h3 {
  display: block;
  font-size: 24px;
  margin: 0;
  position: relative;
}
.widget_head > h3::after {
    position: absolute;
    background: #E5493A;
    height: 2px;
    width: 30%;
    top: 53px;
    left: 0;
    content: "";
}

.widget_post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.widget_thumb {
    flex-basis: 0;
    flex-grow: 1;
    margin-right: 15px;
    position: relative;
}
.news_widget .widget_content {
    flex: 3 1 0;
}
.news_widget .widget_post .widget_thumb i {
  background-color: rgba(74, 74, 74, 0.5);
  display: block;
  height: 100%;
  line-height: 0;
  padding-top: 50%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.news_widget .widget_post:hover .widget_thumb i {
    opacity: 1;
}
.news_widget .widget_content a h5 {
    color: #959595;
    font-family: "roboto";
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.news_widget .widget_content date {
    color: #464646;
    font-size: 13px;
}

.news_widget .widget_post .widget_thumb i {
    color: #fff;
    z-index: 2;
}
.news_widget .widget_post .widget_thumb i::after {
    background: #252525 none repeat scroll 0 0;
    border-radius: 50px;
    content: "";
    height: 35px;
    left: 20%;
    position: absolute;
    top: 21%;
    width: 35px;
    z-index: -1;
}

.twitter_widget .widget_thumb i {
    background-color: #464646;
    border-radius: 100%;
    color: #252525;
    padding: 5px;
}

.widget_single .widget_post p {
  color: #959595;
  font-size: 14px;
  margin-bottom: 0;
}
.twitter_widget .widget_content a {
  color: #fff;
  display: block;
  margin-top: 5px;
}
.widget_content .twitter_time {
  margin-top: 15px;
}

.contact_widget .widget_label {
    color: #636363;
}
.contact_widget .widget_thumb{
    flex: 2;
}
.contact_widget .widget_content {
    color: #959595;
    flex: 4;
}
.contact_widget .widget_content a {
    color: #959595;
}

.contact_widget .widget_content p {
    color: #636363;
}

.widget_socials a i {
    font-size: 20px;
    margin: 0 5px 5px 0;
}


.footer_bottom_area {
    border-top: 1px solid #343434;
    padding: 40px 0;
}
.footer_bottom_area p {
    color: #464646;
    font-size: 14px;
    margin: 0;
}
.footer_bottom_area p a {
    color: #959595;
}
.footer_bottom_area ul {
    display: inline-flex;
    float: right;
    list-style: outside none none;
    margin: 0;
}
.footer_bottom_area ul li a {
    color: #464646;
    display: inline-block;
    font-family: "raleway";
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin-left: 10px;
}
.footer_bottom_area ul li {
    display: inline-block;
}










/*
*
*
*
*
*
*
*
HOVER EFFECTS
*
*Link Color
*Icon Color
*Button Color
*
*
*
*
*/


.footer_bottom_area ul li a:hover,
.contact_widget  .widget_content a:hover,
.news_widget .widget_content:hover a h5,
.navbar_wrapper ul li a:hover,
.searchbox-icon i:hover,
a i:hover,
a:hover,
.btn_black:hover,
.service_item:hover h3,
.privacy_policy:hover{
    color: #E5493A;
}

.single_accordion a.accordion-toggle:hover i,
.links a i:hover{
    color: #fff;
}
.single_accordion a.accordion-toggle:hover i,
.skil_item:hover hr,
.service_item:hover hr,
.service_item:hover .service_icon
{
    background: #E5493A;
}

.news_widget .widget_content:hover date,
.single_accordion i:hover,
.links a i:hover,

{
    color: #fff;
}



.clients .owl-prev:hover,
.clients .owl-next:hover{
        background-color: rgba(229, 73, 58, .7);
}

/*
*
*
*TRANSITIONS
*
*
*
*
*
*
*
*/

.portfolio_nav ul li,
.news_widget .widget_content date,
.single_accordion i,
.links a i,
.clients .owl-prev,
.clients .owl-next,
.footer_bottom_area ul li a,
.contact_widget  .widget_content a,
.news_widget .widget_content a h5,
.navbar_wrapper ul li a,
.searchbox-icon i,
a i,
a,
.btn_black,
.service_item h3,
.single_accordion a.accordion-toggle i,
.skil_item hr,
.service_item hr,
.service_item .service_icon
{
    transition: all ease-in-out .2s;
}
